# frozen_string_literal: true

Ffe.configure do |config|
  # Configure the Ffe engine here.
  # (given values are the defaults)

  # configure the length of the bitmask, used to store the milieus,
  # the minimum length should be length of milieus
  config.bitlength = 4

  # define the environments you want to use,
  # the count of items maps directly to the length of the milieu bit mask above,
  # so change it accordingly
  #
  #   for example: add a fourth environment
  #     config.milieus = { development: 0, staging: 1, production: 2, testing: 3}
  #   the minimum bitlength becomes:
  #     config.bitlength = 4
  #
  #   (later changes are bit more complicated, so increase the bit length before)
  #
  config.milieus = { development: 0, staging: 1, production: 2 }

  # not all rails apps are using RAILS_ENV variable to set it
  config.env_variable = 'RAILS_ENV'

  # set the active job adapter,
  # needed if you want to use the Ffe::ExpiredHandlingJob
  # actual supported: :solid_queue, :sidekiq
  config.queue_adapter = ActiveJob::Base.queue_adapter_name.to_sym
end


Rails.configuration.after_initialize do
  if ActiveRecord::Base.connection.table_exists?(:feature_flags)
    path = Rails.root.join('config/feature_flags.json')
    next unless File.exist?(path)

    data = JSON.load_file(path)
    data.each do |flag|
      name = flag.delete('name')
      next if Ffe::FeatureFlag.exists?(name: name)

      Ffe::FeatureFlag.create_with(flag).find_or_create_by(name: name)
    end
  end
end
